html { 
  width: 1020px;
}

body {
  background-color: #2d303a; 
  margin: 0;	
}

.portfolio-container {
  color: #666d89;
  padding: 31px 37px;
}

.portfolio-container h1, h1 {
  font-family: lato-black;
  font-size: 30px;
  position: relative;
  top: 4px;
  left: 4px;
}

.portfolio-container p, p {
  font-family: lato-light;
  font-size: 17.5px;
  padding-left: 0;	
  position: relative;
  top: 2px;
  left: 2px;
}

.portfolio-container ul{
  list-style-type: none;	
  display: flex;
  padding-left: 0;
}

.portfolio-container li{
 
}

.portfolio-container button {
  margin: 0 5px;
  padding-bottom: 3px;
  padding-right: 6px;
  background-color: transparent;
  border: 1px solid #666d89;
  border-radius: 4px;	
  font-family: lato-regular;
  font-size: 12px;  
  color: #666d89;
}

.portfolio-container button:hover {
  color: white;
  border: 1px solid white;
  cursor: pointer;  
}

.portfolio-img-container {
  display: flex;
  flex-wrap: wrap;
  width: 1020px;  
}

.portfolio-img-container div {
  width: 220px;
  height: 188px;
  margin: 5px 16px 13px 4px;  
}

.about_us-container {
  background-color: #f2f2f2;
  position: relative;
  top: 29px;
  height: 672px;
  color: #666d89;
  padding: 31px 39px;
}

.main-info-au-container {
  display: flex;	
  justify-content: space-between;
  position: relative;
  top: 41px;
}

.main-info-au-container h3{
  font-family: lato-black;
  font-size: 18px; 
  position: relative;
  top: 14px;  
}

.main-info-au-container p{
  font-family: lato-regular;
  font-size: 12px;  
}

.photo-au-container {
  width: 302px;	
}

.name-info-au {
  position: relative;
  bottom: 21px;
  line-height: 23px;
  margin-bottom: -12px;
}
